body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#main {
	height: 100%;
	width: 100%;

	color: #ddd;
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	justify-content: center;
}
/* site.css */

/* header is draggable... */
body {
	-webkit-app-region: drag;
	-webkit-user-select: none;
	background: #111;
}

body img:not(.loading) {
	max-width: 100vw;
	max-height: 100vh;
	width: 100%;
	height: 100%;
}
body img.loading {
	max-width: 1024px;
	max-height: 1024px;
}

/* but any buttons inside the header shouldn't be draggable */
body button,
body a,
body input,
body form {
	-webkit-app-region: no-drag;
}